@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Bahiana&family=Bebas+Neue&family=Cairo:wght@200..1000&family=Codystar:wght@300;400&family=Josefin+Slab:wght@582&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comforter+Brush&family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comforter+Brush&display=swap');

:root{
    --sizeindex: calc(1vw + 1vh)
    }
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(206, 205, 193);
    justify-content: center;
    align-items: center;
    font-family: "Whisper", cursive;
}


*::selection{
    box-sizing: border-box;
    color: rgb(167, 168, 166);
} 
*{
    font-family: "Whisper", cursive;
    text-decoration: none;
    cursor: url(assets/cursor.png), pointer;

}

a{
    z-index: 1;
    position:relative;
    padding: calc(var(--sizeindex) * 0.2);
    color:rgb(37, 37, 37);
    font-size: calc(var(--sizeindex) * 2.7);
    text-align: center;
    display: grid;
}






.load {
    
    z-index: 1;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: calc(var(--sizeindex) * 9);
    color: rgb(0, 0, 0);
    text-shadow: rgb(79, 79, 79) 0px 8px 13px ;
    overflow-wrap: break-word;
    position: fixed;
    padding: calc(var(--sizeindex) * 3);
    pointer-events: none;
    text-align: center;
    left: 49%;
    top: 45%; 
    line-height: 1.3ch;
    transform: translate(-50%, -50%);
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(206, 205, 193);
    z-index: 2;
    animation: hidee 3.1s ease-in-out forwards;
}

.box{
    text-shadow: rgba(0, 0, 0, 0.692) 2px 2px 5px;
}








@keyframes hidee {
    0% {
    opacity: 100%;
    }

    70% {
        opacity: 100%;
        user-select: none;
    }
    100% {
        opacity: 0%;

    }
  }

@media (min-width: 1200px) {
    
    a{
        font-size: calc(var(--sizeindex) * 2);
        margin-left: calc(var(--sizeindex) * 3);
        padding: 1px;
        margin-right: calc(var(--sizeindex) * 3);
    }
    .box{
        text-shadow: rgba(0, 0, 0, 0.692) 2px 2px 5px;
        left: 0;
        right: 0;
        background-color: #0e0e0e15;
        border-radius: 25px;
        padding: 1px;
        text-align: center;
        margin: 14px;
        margin-left: calc(var(--sizeindex) * 21.8);
        margin-right: calc(var(--sizeindex) * 21.8); 
    }
  }
  

  @media (max-width: 768px) {
    a{
        font-size: calc(var(--sizeindex) * 3.6);

    }
    .box{
        top:-20px;
        text-shadow: rgb(0, 0, 0) 2px 2px 5px;
        left: 0;
        right: 0;
        background-color: #0e0e0e15;
        border-radius: 20px;
        padding: 6px;
        text-align: center;
        margin: 15px;
        margin-left: calc(var(--sizeindex) * 5.8);
        margin-right: calc(var(--sizeindex) * 5.8);
    }
    }